//+b('form')#add-video-modal.popup.white-popup-block.mfp-hide(autocomplete='off')
//    +e('p').title Добавить ссылку на видеоролик
//    +e('p').desc Добавьте ссылку на видео о школе, источники: youtube, vimeo
//    +b('input').input-default_video(type='text', name='video', placeholder='Например: https://www.youtube.com/watch?v=SkgTxQm9DWM', required='required')
//    +e('input').submit.button_default(type='submit', value='Добавить видео')