extends layouts/site

block vars
    - var title = 'Добавление экскурсии - '+ companyname
    - var description = 'Добавление экскурсии'

block breadcrumbs
    +breadcrumbs('Личный кабинет менеджера','Дополнительные экскурсии','Добавить экскурсию')

block content
    .container
        +b('h1').page-title Добавить экскурсию