doctype html
html(lang='RU-ru')
    include ../includes/bemto.pug/bemto
    include ../includes/head
    body
        include ../includes/header
        main
            block content

        include ../includes/footer
