.button {
  position: relative;
  margin: 0.8rem;
  padding: 1rem 2rem;
  //border-radius: $bor-rad-btn;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $brown;
  outline: none;
  border: 1px solid $brown;
  color: $white;
  font: 500 1rem/1.2rem $font-main;

  &:hover,
  &:focus {
    background-color:$white;
    color: $brown;
    text-decoration: none;
  }

  &-green {
    background-color: $green;
    border: 1px solid $green;

    &:hover,
    &:focus {
      background-color:$white;
      color: $green;
      text-decoration: none;
    }
  }

}


