.question__label {
  align-items: center;
  display: flex;
  position: relative;

  & .question__span{
    display: block;
    margin-right: 1rem;
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    border: 2px solid #d97925;
    border-radius: 50%;
  }

  & input {
    position: absolute;
    opacity: 0;
    &:checked + span {
      background-color: #d97925;
      border: 2px solid #d97925;
      border-radius: 50%;
    }
  }
}