// Colors
$white: white;
$black: #222328;

//
$success-color: #8dc63f;
$warning-color: #b8b900;
$error-color: #ff3743;

// Button-color
$btn-light-green: #74b92b;
$btn-dark-green: #4f8a10;
$btn-orange: #ef9d08;

// Backgrounds colors
$bg-light-color: #efefef;
$bg-main-color: $white;

// Borders colors
$border-main-color: #e5e5e5;
$border-light-color: $white;

// Texts colors
$text: #222328;
$text-placeholder-color: #c5c5c5;
$text-light-color: $white;
$link-color:  blue;

// Fonts
$icons-font-regular: 'FontAwesome Solid';
$icons-font-solid: 'FontAwesome Solid';
$icons-font-brands: 'FontAwesome Brands';
$font-main: Montserrat, sans-serif;

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../fonts/Montserrat/montserrat.woff2') format('woff2'), url('../fonts/Montserrat/montserrat.woff') format('woff'), url('../fonts/Montserrat/montserrat.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../fonts/montserrat/montserrat-v12-latin-500.woff2') format('woff2'), url('../fonts/montserrat/montserrat-v12-latin-500.woff') format('woff'), url('../fonts/montserrat/montserrat-v12-latin-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../fonts/montserrat/montserrat-v12-latin-600.woff2') format('woff2'), url('../fonts/montserrat/montserrat-v12-latin-600.woff') format('woff'), url('../fonts/montserrat/montserrat-v12-latin-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('../fonts/Montserrat/montserrat.woff2') format('woff2'), url('../fonts/Montserrat/montserrat.woff') format('woff'), url('../fonts/Montserrat/montserrat.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

//Icons font
@font-face {
  font-family: 'FontAwesome Regular';
  src: url('../fonts/fontawesome/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fontawesome/fa-regular-400.woff2') format('woff2'), url('../fonts/fontawesome/fa-regular-400.woff') format('woff'), url('../fonts/fontawesome/fa-regular-400.ttf') format('truetype'), url('../fonts/fontawesome/fa-regular-400.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome Solid';
  src: url('../fonts/fontawesome/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fontawesome/fa-solid-900.woff2') format('woff2'), url('../fonts/fontawesome/fa-solid-900.woff') format('woff'), url('../fonts/fontawesome/fa-solid-900.ttf') format('truetype'), url('../fonts/fontawesome/fa-solid-900.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome Brands';
  src: url('../fonts/fontawesome/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fontawesome/fa-brands-400.woff2') format('woff2'), url('../fonts/fontawesome/fa-brands-400.woff') format('woff'), url('../fonts/fontawesome/fa-brands-400.ttf') format('truetype'), url('../fonts/fontawesome/fa-brands-400.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// box-shadow
$box-shadow-default: 0 0 .25rem 0 rgba($black,.12);

// border-radius
$border-radius-default: .188rem;
$bor-rad-btn: 1.1875rem;
$bor-rad-btn-mini: 	0.8125rem;
$bor-rad-inpt: 1.625rem;

// Animations by CSS 3
$transition-default: all .33s;